{#{% import "_message.html.twig" as message %}#}


<div {{ attributes.defaults(stimulus_controller('chat')) }}>
    <div>
        <strong>Ask me anything</strong>
        <button id="chat-reset"> Reset Chat</button>
    </div>
    <div id="chat-body">
        {% for message in this.messages %}
{#            {% include '_message.html.twig' with { message, latest: loop.last } %}#}

            {{ message }}
        {% else %}
            <div id="welcome">
                <h4 class="mt-5">Retrieval Augmented Generation based on the Symfony blog</h4>
                <span class="text-muted">Please use the text input at the bottom to start chatting.</span>
            </div>
        {% endfor %}
    </div>
    <div >
        <div >
            <label for="chat-message"></label>
                <textarea id="chat-message"
                          cols="30" rows="10"
                          style="width: 50%; height: 50%;"
                          placeholder="Write a message ...">
                </textarea>
            <button id="chat-submit" type="button" {{ live_action('process') }}>Submit</button>
        </div>
    </div>
</div>

